.folder-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.folder {
    display: inline-flex;
    list-style: none;
    border: 1px black solid;
    min-height: 100px;
    margin: 10px auto;
    width: 100%;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
}

.folder a {
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
}

.folder:hover {
    background-color: rgb(114,0,0);
}

@media screen and (max-width: 1000px) {
    .folder-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .folder {
        display: flex;
        padding: 10px;
        margin: 10px auto;
        font-size: 30px;
        text-align: center;
    }

    .folder a {
        font-size: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .folder-container {
        display: inline;
    }

    h1 {
        font-size: 30px;
        text-align: center;
    }

    .folder {
        font-size: 20px;
        min-height: 0;
    }

    .folder a {
        font-size: 20px;
    }
}
