.folder {
    display: inline-flex;
    list-style: none;
    border: 1px black solid;
    min-height: 100px;
    margin: 10px auto;
    min-width: 25%;
    width: max-content;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    background-color: darkred;
}

.folder a {
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
}

.folder:hover {
    background-color: rgb(114,0,0)
}

@media screen and (max-width: 1300px) {
    .folder {
        display: flex;
        width: 75%;
        padding: 10px;
        margin: 10px auto;
    }

    .folder a {
        font-size: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .folder {
        width: 95%;
    }

    .folder a {
        font-size: 26px;
    }
}
