.sidenav {
    position: fixed;
    top: 50px;
    left: 0;
    width: 160px;
    height: 75%;
    z-index: 1;
    background-color: darkslategray;
    overflow-x: hidden;
    padding: 20px;
    overflow: scroll;
}

.main {
    margin-left: 160px; /*Must be the same as the sidenav width */
    padding: 0px 10px;
}

.sidenav a {
    color: black;
}

@media screen and (max-width: 1300px) {
    .sidenav {
        top: 100px;
    }

    .main {
        margin-left: 160px;
    }

    .main h1 {
        margin-top: 0;
    }
}

@media screen and (max-width: 450px) {
    .sidenav {
        top: 90px;
        position: static;
        display: block;
        width: 100%;
    }

    .main {
        width: 100%;
        margin-left: 0;
    }

    .sidenav h2 {
        text-align: center;
    }
}