.mainTimeline {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.yearContainer {
    transition: gridColumn 0.5s ease-out;
}

.yearHeading {
    text-align: center;
    background: darkred;
    margin: 5px auto;
}

.yearHeading.active {
    margin-bottom: 0;
}

.yearHeading:hover {
    background-color: rgb(114, 0, 0);
}

.yearHeading h1 {
    margin: 10px;
    color: #fff;
    font-weight: normal;
    font-size: 2em;
    text-decoration: underline;
}

.yearContent {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.monthContainer {
    padding: 5px;
    border: 1px black solid;
}

.monthContainer .folder {
    text-decoration: none;
    min-height: min-content;
    padding: 5px;
}

.monthContainer .folder a {
    font-size: 16px;
    text-transform: none;
    text-decoration: none;
}

.monthContainer h2 {
    text-align: center;
}

@media screen and (max-width: 450px) {
    .mainTimeline {
        grid-template-columns: 50% 50%;
    }

    .yearContent {
        grid-template-columns: auto auto;
    }
}