<!DOCTYPE html>
<html>
    <head>
        <title>Regulus</title>
        <!-- Link to main.css -->
        <!-- Link to category.css -->
        <!-- Link to sidemenu.css -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul class="breadcrumb">
            <li class="location"><a href="../../../index.html">...</a></li>
            <li class="location"><a href="../../Characters.html">Characters</a></li>
            <!-- Continue breadcrumbs -->
        </ul>
        <br>    
        <div class="sidenav">
            <h2>Basic Info:</h2>
            <p>Born:</p>
        </div>
        <div class="main">
            <h1>Regulus Arcturus Black</h1>
            <h2>Known Facts:</h2>
        </div>
    </body>
</html>