<!DOCTYPE html>
<html>
    <head>
        <title>1971-08-Malfoy Ball</title>
        <link rel="stylesheet" type="text/css" href="../../resources/css/main.css">
        <link rel="stylesheet" type="text/css" href="../../resources/css/category.css">
    </head>
    <body>
        <ul class="breadcrumb">
            <li class="location"><a href="../../index.html">...</a></li>
            <li class="location"><a href="../mainTimeline.html">Main Timeline</a></li>
        </ul>
        <br>
        <h1>1971-08 - Malfoy Ball</h1>
        <h2>Involved Characters:</h2>
    </body>
</html>