<!DOCTYPE html>
<html>
    <head>
        <title>08/1971: Malfoy Ball</title>
        <link rel="stylesheet" type="text/css" href="../../../resources/css/main.css">
        <link rel="stylesheet" type="text/css" href="../../resources/css/category.css">
        <link rel="stylesheet" type="text/css" href="../../resources/css/sidemenu.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul class="breadcrumb">
            <li class="location"><a href="../../index.html">...</a></li>
            <li class="location"><a href="../mainTimeline.html">Main Timeline</a></li>
        </ul>
        <br>
        <div class="sidenav">
            <h2>Basic Info:</h2>
            <p>Happens In: Chapter</p>
            <p>Location: </p>
            <p>Involved Characters:</p>
            <ul>
                <li><a>Character A</a></li>
            </ul>
        </div>
        <div class="main">
            <h1>08/1971: Malfoy Ball</h1>
            <h2>Summary:</h2>
        </div>
    </body>
</html>