<!DOCTYPE html>
<html>
    <head>
        <title>Date: Title</title>
        <link rel="stylesheet" type="text/css" href="../../../resources/css/main.css">
        <link rel="stylesheet" type="text/css" href="../../../resources/css/category.css">
        <link rel="stylesheet" type="text/css" href="../../../resources/css/sidemenu.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul class="breadcrumb">
            <li class="location"><a href="../../../index.html">...</a></li>
            <li class="location"><a href="../../mainTimeline.html">Main Timeline</a></li>
        </ul>
        <br>
        <div class="sidenav">
            <h2>Basic Info:</h2>
            <p>Characters Involved:</p>
            <ul>
                <li><a>Character</a></li>
            </ul>
            <p>Characters Who Know:</p>
            <ul>
                <li><a>Character</a></li>
            </ul>
        </div>
        <div class="main">
            <h1>Date: Title</h1>
            <h2>Summary:</h2>

            <h2>Related Events:</h2>
        </div>
    </body>
</html>